openapi: 3.0.3
info:
  title: Bay Navigator Static JSON API
  version: 1.0.0
  description: Static JSON API for programs, categories, areas, and eligibility types. All endpoints return pre-generated JSON files served via Azure Static Web Apps CDN.
servers:
  - url: https://baynavigator.org/api
    description: Production (CDN-cached static files)
paths:
  /programs.json:
    get:
      summary: List all programs
      description: Returns all programs with metadata. Filtering is done client-side.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgramsResponse'
  /programs/{id}.json:
    get:
      summary: Get program by ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: Program ID (URL-friendly slug)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
        '404':
          description: Not found (static file does not exist)
  /categories.json:
    get:
      summary: List categories
      description: Returns all categories with program counts and icons.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
  /areas.json:
    get:
      summary: List areas
      description: Returns all geographic areas with program counts and types.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreasResponse'
  /eligibility.json:
    get:
      summary: List eligibility types
      description: Returns all eligibility types with descriptions and program counts.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EligibilityResponse'
  /metadata.json:
    get:
      summary: Get API metadata
      description: Returns API version, generation timestamp, and available endpoints.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
components:
  schemas:
    Program:
      type: object
      properties:
        id:
          type: string
          description: URL-friendly program identifier
        name:
          type: string
        category:
          type: string
        description:
          type: string
        eligibility:
          type: array
          items:
            type: string
        areas:
          type: array
          items:
            type: string
        website:
          type: string
          format: uri
        cost:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        requirements:
          type: string
          nullable: true
        howToApply:
          type: string
          nullable: true
        lastUpdated:
          type: string
          format: date
    ProgramsResponse:
      type: object
      properties:
        total:
          type: integer
        count:
          type: integer
        offset:
          type: integer
        programs:
          type: array
          items:
            $ref: '#/components/schemas/Program'
    Category:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        icon:
          type: string
        programCount:
          type: integer
    CategoriesResponse:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
    Area:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [county, region, state, nationwide]
        programCount:
          type: integer
    AreasResponse:
      type: object
      properties:
        areas:
          type: array
          items:
            $ref: '#/components/schemas/Area'
    Eligibility:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        icon:
          type: string
        programCount:
          type: integer
    EligibilityResponse:
      type: object
      properties:
        eligibility:
          type: array
          items:
            $ref: '#/components/schemas/Eligibility'
    MetadataResponse:
      type: object
      properties:
        version:
          type: string
        generatedAt:
          type: string
          format: date-time
        totalPrograms:
          type: integer
        endpoints:
          type: object
          properties:
            programs:
              type: string
            categories:
              type: string
            eligibility:
              type: string
            areas:
              type: string
            singleProgram:
              type: string
